.repasar {
    width: 350px;
}

.tresult {
    text-align: center;    
    display: block;
    border-radius: 8px;
    border: 1px solid;
    bordel-color: #abc6c2;
    padding: 8px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:20px;
}

    .tresult button {
        width: 52px;
        margin: 2px;
    }
