<div class="container">
    <div class="row">
        <EditForm Model="@VoiceOptions">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="voice">Voice:</label>
                    <VoiceSelector id="voice" VoiceIdentity=@(VoiceOptions.VoiceIdentity) class="form-control"></VoiceSelector>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <InputCheckbox @bind-Value="VoiceOptions.Speak" class="form-check-input" id="speak" />
                    <label for="speak">Speak</label>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code {
    [Parameter] public VoiceOptions VoiceOptions { get; set; } = new();
}
